@font-face {
  font-family: 'Roboto Slab', serif;
  src: url('/static/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Rasa', serif;
  src: url('/static/fonts/Rasa/Rasa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Amiko', sans-serif;
  src: url('/static/fonts/Amiko/Amiko-Regular.ttf') format('truetype');
}

:root {
  --font-family-body: 'Amiko', sans-serif;
  --font-family-heading: 'Roboto Slab', serif;
  --font-family-heading-secondary: 'Rasa', serif;
  --font-size: clamp(0.9rem, calc(0.4vw + 0.9rem), 2rem);
  --line-height: 1.5;
  --measure: 70ch;

  --primary-color: #d8849e;
  --secondary-color: #544013;
  --tertiary-color: #ede9dd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

:where(:root) {
  font-family: var(--font-family-body);
  font-size: var(--font-size);
  line-height: var(--line-height);
  cursor: default;
  overflow-wrap: break-word;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

html:focus-within {
  scroll-behavior: smooth;
}

:where(body) {
  min-height: 100vh;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6, li) {
  max-inline-size: var(--measure);
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 3rem 0 1.38rem;
}

:where(h1) {
  font-family: var(--font-family-heading);
  font-size: 3.052rem;
  margin-top: 0;
}
:where(h2) {
  font-family: var(--font-family-heading-secondary);
  font-size: 2.441rem;
}
:where(h3) {
  font-family: var(--font-family-heading-secondary);
  font-size: 1.953rem;
}
:where(h4) {
  font-family: var(--font-family-heading-secondary);
  font-size: 1.563rem;
}
:where(h5) {
  font-family: var(--font-family-heading-secondary);
  font-size: 1.25rem;
}

:where(p) {
  margin-bottom: 1rem;
}

:where(small) {
  font-size: 0.889rem;
}

a:hover,
a:focus,
button:hover,
button:focus {
  opacity: 0.75;
}

button:hover,
button:focus {
  opacity: 0.75;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
