header img {
  margin-inline: auto;
  max-height: 90vh;
}

.wrapper {
  margin-inline: auto;
}

.bg-pink {
  background-color: var(--primary-color);
}

.main {
  color: var(--secondary-color);
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-inline: auto;
  padding-block: var(--big-block);
  text-align: center;
  width: min(var(--measure), 90vw);
}

.main h1 {
  display: none;
}

.icon {
  font-size: 3rem;
  font-weight: lighter;
}

.words {
  margin-block: var(--small-block);
}

@media (max-width: 500px) {
  :root {
    --big-block: 5rem;
    --small-block: 1.5rem;
  }
}
